#sec_1_bg{
    background-image:url('./img/bg.png');
    background-size:cover;
	background-repeat:no-repeat;
    background-position: center center;
    height: 100vh;
}
hr{
    border: 3px solid white;
    width: 60%;
    margin: 0 auto;
}
.btn:hover{
    background-color:dodgerblue;
}
.btn{
    width: 60%;
}